
appdirs==1.4.4
atomicwrites==1.4.0
DateTime==5.5
deprecation==2.1.0
hightime==0.2.2
jsonpointer==2.1
matplotlib==3.9.2
mkl-service==2.4.0
nidaqmx==1.0.2
protobuf==4.25.3
pyasn1-modules==0.2.8
pychrono==1.1.0
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-decouple==3.8
PyVISA==1.15.0
setuptools==75.1.0
tzlocal==5.3.1
wheel==0.44.0
pandas
numpy
scipy
nidaqmx
tqdm
Pyrebase4
Pyrebase

